- study = entity

- log :mutation_kind, "Mutation kind"
%h2 Mutation kind
- header "Sample", "Sample", :study => study
= table do
  - tsv = TSV.setup({}, :key_field => "Sample", :fields => ["SNV", "Insertion", "Deletion"], :type => :list, :cast => :to_i)
  - study.samples.select_by(:has_genotype?).each do |sample|
    - mutations = sample.mutations.select_by(:type){|type| type != "none" and type != "unknown"}
    - snv = mutations.select_by(:base){|b| b =~ /^[ACTG]$/}
    - ins = mutations.select_by(:base){|b| b =~ /^[^-]{2,}$/}
    - del = mutations.select_by(:base){|b| b =~ /-/}
    - tsv[sample] = [snv.length, ins.length, del.length]
  - tsv


- log :mutation_type, "Mutation type"
%h2 Mutation type
- header "Sample", "Sample", :study => study
= table do
  - tsv = TSV.setup({}, :key_field => "Sample", :fields => ["Transitions", "Transversions"], :type => :list, :cast => :to_i)
  - study.samples.select_by(:has_genotype?).each do |sample|
    - mutations = sample.mutations.select_by(:type){|type| type != "none" and type != "unknown"}
    - transi = mutations.select_by(:type){|t| t == "transition"}
    - transv = mutations.select_by(:type){|t| t == "transversion"}
    - tsv[sample] = [transi.length, transv.length]
  - tsv

- log :mutation_change, "Mutation change"
%h2 Mutation change
- header "Sample", "Sample", :study => study
= table do
  - tsv = TSV.setup({}, :key_field => "Sample", :fields => [], :type => :list, :cast => :to_i)
  - sample_changes = {}
  - study.samples.select_by(:has_genotype?).each do |sample|
    - changes = (sample_changes[sample] ||= {})
    - mutations = sample.mutations.select_by(:type){|type| type == "transition" or type == "transversion"}
    - changes["All"] = mutations
    - mutations.each do |mutation|
      - change = [mutation.reference, mutation.base] * ">"
      - changes[change] ||= []
      - changes[change] << mutation
  - all_changes = sample_changes.values.collect{|changes| changes.keys}.flatten.uniq.sort
  - all_changes = ["All"].concat(all_changes - ["All"])
  - tsv.fields = all_changes
  - sample_changes.each do |sample,changes|
    - tsv[sample] = changes.values_at(*all_changes).collect{|list| list ? list.length : 0 }
  - tsv

- log :mutation_consequence, "Mutation consequence"
%h2 Mutation consequence
- header "Sample", "Sample", :study => study
= table do
  - tsv = TSV.setup({}, :key_field => "Sample", :fields => ["Not relevant", "Relevant"], :type => :list, :cast => :to_i, :namespace => study.organism)
  - all_mutations = study.metagenotype
  - mutation2mis = Misc.process_to_hash(all_mutations){|mutations| mutations.mutated_isoforms}
  - all_mis = all_mutations.mutated_isoforms.compact.flatten.uniq
  - mi2consequence = Misc.process_to_hash(all_mis){|mis| mis.consequence }
  - mutation2relevant = Misc.process_to_hash(all_mutations){|mutations| mutations.relevant? }
  - mutation2ej = Misc.process_to_hash(all_mutations){|mutations| mutations.in_exon_junction? }

  - study.samples.select_by(:has_genotype?).each do |sample|
    - mutations = sample.mutations.select_by(:type){|type| type == "transition" or type == "transversion" or type == "indel"}
    - non_synonymous = mutations.select do |mutation| 
      - mutation2relevant[mutation]
      -# mutation2ej[mutation] or (mis and mis.any? and mis.select{|mi| consequence = mi2consequence[mi]; consequence != "SYNONYMOUS" and consequence != "UTR" }.any?)
      -# mutation2ej[mutation] or (mis and mis.any? and mis.select{|mi| consequence = mi2consequence[mi]; %w(NOSTOP MISS-SENSE INDEL FRAMESHIFT NONSENSE).include? consequence}.any?)

    - synonymous = mutations - non_synonymous
    - tsv[sample] = [synonymous.length, non_synonymous.length]
  - tsv


- log :mutation_damage, "Mutation damage"
%h2 Mutation Damage
- header "Sample", "Sample", :study => study
= table do
  - tsv = TSV.setup({}, :key_field => "Sample", :fields => ["Not Damaging", "Damaging"], :type => :list, :cast => :to_i, :namespace => study.organism)
  - all_mutations = study.metagenotype
  - mutation2mis = Misc.process_to_hash(all_mutations){|mutations| mutations.mutated_isoforms}
  - all_mis = all_mutations.mutated_isoforms.compact.flatten.uniq
  - mi2damaged = Misc.process_to_hash(all_mis) do |mis| 
    - preds = DbNSFP.job(:annotate, study, :mutations => mis, :organism => study.organism).run.slice('RadialSVM_score').to_single
    - preds.chunked_values_at(mis).collect{|score| score and score > 0 }

  - study.samples.select_by(:has_genotype?).each do |sample|
    - mutations = sample.mutations.select_by(:type){|type| type == "transition" or type == "transversion"}
    - damaged = mutations.select do |mutation| 
      - mis = mutation2mis[mutation]
      - mis and mis.any? and mis.select{|mi| mi2damaged[mi] }.any?

    - not_damaged = mutations - damaged
    - tsv[sample] = [not_damaged.length, damaged.length]
  - tsv


-# 
  - log :affected_genes, "Affected genes"
  %h2 Affected Gene Overview
  = table do
    - pairs = study.knowledge_base.get_index(:mutated_genes, :source => "Ensembl Gene ID").select(%w(altered damaged broken)).keys
    - tsv =AssociationItem.incidence(pairs, "Ensembl Gene ID")
    - tsv.namespace = study.organism
    - tsv

  - log :damaged_genes, "Damaged or broken genes"
  %h2 Damaged Gene Overview
  = table do
    - pairs = study.knowledge_base.get_index(:mutated_genes, :source => "Ensembl Gene ID").select(%w(damaged broken)).keys
    - tsv = AssociationItem.incidence(pairs, "Ensembl Gene ID")
    - tsv.namespace = study.organism
    - tsv

