- authorize!
- studies = user_studies[user]
- gene = entity.ensembl
- name = gene.name

= action_card_render ActionCard.new do

  %h4 Genotype overview

  %p Pvalues calculated by mutations-per-base-pair frequencies

  - all_matches = {}
  - pvalues = {}
  - Study.setup studies
  - log "Bootstrapping studies"
  - Misc.bootstrap(studies.to_a, nil, :bar => @step.progress_bar("Bootstrapping studies")) do |study|
    - Study.setup(study)
    - next unless study.has_genotypes?
    - study.knowledge_base
    - study.binomial_significance(:job).produce

  - TSV.traverse studies.to_a, :bar => @step.progress_bar('Processing studies') do |study|
    - Study.setup(study)
    - next unless study.has_genotypes?
    - log study
    - kb = study.knowledge_base
    - all_matches[study.to_s] = kb.subset(:sample_genes, :target => [gene], :source => :all)
    - pvalues[study.to_s] = begin
      - pvalue = study.job(:binomial_significance).run[gene]
      - pvalue.nil? ? 1 : pvalue["p.value"]
    - rescue
      - raise "Binomial significance for #{study} failed: #{$!.message}"


  - fields = %w(Overlapping Affected Damaged Splicing Broken P-value)
  - tsv = TSV.setup({}, :key_field => "Study", :fields => fields, :type => :double)
  - log "Processing hits"
  - all_matches.each do |study,matches|
    - next if matches.nil? or matches.empty?
    - study = Study.setup(study.dup)
    - num_samples = study.genotyped_samples.length
    - overlapping = matches.source_entity.uniq
    - affected = matches.select_by(:info){|info| info["affected"] == "true" }.source_entity.uniq
    - damaged = matches.select_by(:info){|info|  info["damaged_mutated_isoform"] == "true" }.source_entity.uniq
    - splicing = matches.select_by(:info){|info| info["splicing"] == "true" }.source_entity.uniq
    - broken = matches.select_by(:info){|info| info["broken"] == "true" }.source_entity.uniq
    
    - values = ([overlapping, affected, damaged, splicing, broken].zip(fields)).collect do |list,type|
      - if list.any?
        - list.list_link("%.3g" % ((list_length = list.length).to_f * 100 / num_samples) + " % (#{list_length})", "Samples with #{name} #{type} in #{ study }")
      - else
        - "None"

    - pvalue = pvalues[study]
    - values.push pvalue
    - tsv[study] = values

  - log "Producing table"
  - tsv.fields[0..-2].each do |field|
    - header field, "Link"
  = table do
    - tsv

